@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* My Custom Class */

body{
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

i{
  font-size: 22px;
  padding-right: 10px;
}

ul li{
  text-transform: capitalize;
}

.hero-img img:hover{
  transform: translate3d(0px, 0px, 0px) scale3d(0.9, 0.9, 0.9) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

.img-hov:hover{
  transition: all 0.5s ease;
  transform: scale(1.2);
}

/* .img-hov1:hover{
  transition: all 0.5s ease;
  transform: scale(1.2);
  border-radius: 1rem;
} */


.posts:hover > .post-cont{
  padding-left: 5px;
  transition: all 0.5s ease;
}

.shade{
  filter: brightness(0.5);
}

.lock{
  transition: all 0.3s ease;
}

.lock:hover{
  box-shadow: 2px 2px 0px 2px rgba(255, 255, 255, 0.8);
}

.bord{
  transition: all 0.2s ease;
}

.bord:hover{
  border: 1px solid black;
}

.mob-li{
  display: none;
}

.mob-li.show{
  display: block;
}

.bord.active{
  border: 2px solid black;
}